.modal-field{
    margin-bottom: 10px;
}
.modal-title{
    margin-bottom: 12px;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);
}
.modal-lable{
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
}
.modal-wrap{
    position: relative;
}